* {
  box-sizing: border-box;
  background: url(img/maxresdefault.png);
  background-size: cover;
}

body {
  margin: 0px;
  font-family: 'segoe ui';
}

.nav {
  /*height: 50px;*/
  width: 100%;
  background-color: #339037;
  position: relative;
}

.nav > .nav-header {
  display: inline;
}

.nav > .nav-header > .nav-title {
  display: inline-block;
  font-size: 22px;
  color: #fff;
  padding: 10px 10px 10px 10px;
}

.nav > .nav-btn {
  display: none;
}

.nav > .nav-links {
  display: inline;
  float: right;
  font-size: 18px;
  margin-top: 1%;
  margin-right: 2%;
}

.nav > .nav-links > a {
  display: inline-block;
  padding: 13px 10px 13px 10px;
  text-decoration: none;
  color: #efefef;
}

.nav > .nav-links > a:hover {
  background-color: rgba(0, 0, 0, 0.3);
  padding: 13px 10px 13px 10px;
}

.nav > #nav-check {
  display: none;
}

@media (max-width:600px) {
  .nav > .nav-btn {
    display: inline-block;
    position: absolute;
    right: 0px;
    top: 0px;
  }
  .nav > .nav-btn > label {
    display: inline-block;
    width: 50px;
   /* height: 50px;*/
    padding: 13px;
  }
  .nav > .nav-btn > label:hover {
    background-color: rgba(0, 0, 0, 0.3);
    padding: 13px 10px 13px 10px;
    height: 100vh;
  }
  .nav > .nav-btn > label > span {
    display: block;
    width: 25px;
    /*height: 10px;*/
    border-top: 2px solid #eee;
  }
  .nav > .nav-links {
    position: absolute;
    display: block;
    width: 100%;
    background-color: #333;
    /*height: 0px;*/
    transition: all 0.3s ease-in;
    overflow-y: hidden;
    top: 50px;
    left: 0px;
  }
  .nav > .nav-links > a {
    display: block;
    width: 100%;
  }
  .nav > #nav-check:not(:checked) + .nav-links {
 /*   height: 0px;*/
  }
  .nav > #nav-check:checked + .nav-links {
/*    height: calc(100vh - 50px);*/
    overflow-y: auto;
  }
}
.nav-title img{
  width: 50%;
}


.item{
    background: white;    
    text-align: center;
    height: 300px !important;
}

.carousel{
    margin-top: 10%;
}

.bs-example{
  /*margin: 20px;*/
}

.carousel.carousel-fade .item {
  opacity:0;
  filter: alpha(opacity=0); /* ie fix */
}

.carousel.carousel-fade .active.item {
    opacity:1;
    filter: alpha(opacity=100); /* ie fix */
}
.carousel-inner{
  padding-top: 20%;
}
.stick{
  width: 25%;
  margin-left: 37.5%;
}
.good{
  margin-left: 37.5%;
}
.bottom{
  width: 40%;
  margin-left: 37.5%;
  height: 0%;

}
.lol{
  width: 75%;
}
.right{
  margin-left: 10%;
  width: 75%;
}
.row{
  margin-top: 10%;
}
p{
  font-family: 'Coming Soon', cursive;
  font-size: 18px;
}